/* Estilos Generales */

.letrabody {
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px;
}

h1 {
    letter-spacing: 10px;
    text-align: center;
    font-weight: 4000px;
    font-size: 100px;
}

.menu-principal {
    text-align: center;
    font-size: x-large;
}

.redes {
    padding: 25px 25px 0px 25px;
    text-align: center;
}

a {
    margin: 25px;
}

li a {
    margin: 20px;
}

a:hover {
    text-decoration: underline #a74561 2px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

h3 {
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

p {
    text-align: center;
    font-size: x-large;
}

/* Estilos index */

.header-section-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.logo {
    height: 100%;
    width: 100%;
}

.main-index {
    background: url(https://osn.inba.gob.mx/images/palciofoto.jpeg);
    height: 1200px;
    background-position: center;
    background-size: cover;
    padding: 25px 25px;
}

.hxindex {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: rgb(57, 57, 110);
    padding: 5px;
}

/* Estilo Footer */

.footer {
    height: 310px;
    padding: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
}

.footer-menu-redes {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.footer-logo {
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.footer-link-images {
    width: 100%;
}

.footer-link {
    display: inline-block;
    width: 100px;
}

.navfooter {
    text-align: center;
    font-size: large;
}

/* Estilos paginas */

.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo1-titulo {
    background-image: url(../assets/img-suculenta-der.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 150px;
}

.logo2-titulo {
    background-image: url(../assets/img-suculenta-izq.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 150px;
}

.cultura {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    padding: 0px 0px 120px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-section-contacto {
    padding: 0px 0px 120px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.zonas {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.zonas-img {
    border: 2px solid white;
    height: 450px;
    width: 400px;
    margin: 50px;
    background-image: url(../assets/chichenitza-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

.pueblos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pueblos-img {
    border: 2px solid white;
    height: 450px;
    width: 400px;
    margin: 50px;
    background-image: url(../assets/img-hidalgo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

.playas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playas-img {
    border: 2px solid white;
    height: 450px;
    width: 400px;
    margin: 50px;
    background-image: url(../assets/img-playa-delfines-cancun.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

.cultura-video {
    display: block;
}

.cultura-video-small {
    display: none;
}

.imagencontacto {
    border: 2px solid white;
    height: 450px;
    width: 400px;
    margin: 20px 50px 25px 50px;
    background-image: url(../assets/mariachi.jpg);
    background-position: center;
    background-size: cover;
}

/* Vamos a añadir esto 👇 */

.menu-principalprueba {
    text-align: center;
    font-size: x-large;
}

.header-sectionprueba {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    bottom: 0;
}

.section-lugares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-lugares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-parrafo {
    display: flex;
    padding: 20px 100px 50px 100px;
    text-align: center;
    font-size: medium;
    
}

.img-bots {
    height: 100%;
    width: 100%;
    object-fit: contain;
    }

.p-bost {
    font-size: 18px;
}

@media (max-width: 1024px) {
    .footer-logo {
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .cultura-video {
        width: 80%;
    }

    .menu-principal {
        font-size: large;
    }

    .navfooter {
        font-size: small;
    }
}

@media (max-width: 768px) {
    .menu-principal {
        font-size: small;
    }

    .navfooter {
        display: none;
    }
    .p-bost {
        font-size:15px;
    }
}

@media (max-width: 425px) {
    .footer-logo {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .cultura-video {
        width: 320px;
    }

    .menu-principal ul {
        padding-inline-start: 0;
    }

    .logo1-titulo {
        height: 100px;
        width: 100px;
    }

    .logo2-titulo {
        height: 100px;
        width: 100px;
    }

    .menu-principal {
        font-size: 15px;
        text-align: justify;
        padding-inline-start: 0;
    }

    .main-index {
        height: 500px;
    }

    .navfooter {
        font-size: 11px;
        text-align: left;
    }

    .footer-link {
        width: 50px;
    }

    .redes {
        padding: 0;
    }

    .footer {
        padding: 0;
        margin: 0;
        height: 200px;
    }

    .zonas-img {
        margin: 0;
        height: 380px;
        width: 320px;
    }

    .pueblos-img {
        margin: 0;
        height: 380px;
        width: 320px;
    }

    .playas-img {
        margin: 0;
        height: 380px;
        width: 320px;
        font-size: 12px;
        text-align: right;
    }

    .main-section {
        padding: 0px 0px 0px 0px;
        justify-content: center;
    }

    .cultura-video {
        display: none;
    }

    .cultura-video-small {
        display: block;
    }

    .imagencontacto {
        width: 320px;
        margin: 0;
        padding: 0;
    }

    .h2contacto {
        display: none;
    }

    .h3contacto {
        display: none;
    }

    .form {
        text-align: center;
    }

    .div-contacto {
        width: 320px;
    }
    .div-parrafo {
        font-size: smaller;
    }
    .p-bost {
        font-size: 12px;
    }
}